<div class="container-fluid">
  <h2>新增討論版</h2>
  <hr>
  <%= form_for @group do |f| %>
    <% if @group.errors.any? %>
      <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= f.label :title %>:
    <%= f.text_field :title %>
    <br>
    <%= f.label :description %>:
    <%= f.text_area :description %>
    <br>
    <%= f.submit '新增' %>
  <% end %>
</div>
