<div class="container-fluid">
  <div class='pull-right'>
    <% if current_user && current_user.member_of?(@group) %>
    <!-- 用current_user先判斷是否為nil, 使用者為登出狀態訪問此頁面時, 就不會跳紅畫面-->
      <span class='label label-info'>群組成員</span>
      <%= link_to '退出群組', group_group_users_path(@group), method: :delete, class: 'btn btn-primary' %>
      <%= link_to 'Write a Post', new_group_post_path(@group), class: 'btn btn-success pull-right' %>
    <% else %>
      <span class='label label-warning'>不是群組成員</span>
      <%= link_to '加入群組', group_group_users_path(@group), method: :post, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <% if current_user == @group.creator %>
    <%= link_to 'Edit Group', edit_group_path(@group), class: 'btn btn-primary pull-right' %>
  <% end %>
  <h2><%= @group.title %></h2>
  <p><%= @group.description %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>文章內容</th>
        <th>發表者</th>
        <th>發表時間</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each_with_index do |post, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= post.content %></td>
          <td><%= post.user.email %></td>
          <td><%= post.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class='text-center'>
    <%= will_paginate @posts %>
  </div>
</div>
